.centered
{
    text-align: center;
}

.head
{
    font-size: large;
}

.red
{
    font-size: medium;
    color: red;
}

.green
{
    font-size: medium;
    color: green;
}
.yellow
{
    font-size: medium;
    color: yellow;
}
.goldenbrown
{
    font-size: medium;
    color: golden brown;
}
